<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension
         point="org.eclipse.amalgam.common.ui.samples">
      <sample
            name="%sample.requirements.name"
            perspectiveId="org.eclipse.amalgam.dsl.ui.dslPerspective"
            targetViewId="org.eclipse.jdt.ui.PackageExplorer"
            id="org.eclipse.amalgam.examples.dsl.requirements">
         <description
               helpHref="/org.eclipse.amalgam.dsltk.doc/html/samples/requirements.html">
           %sample.requirements.desc
         </description>
         <activity id="org.eclipse.javaDevelopment"/>
         <activity id="org.eclipse.plugInDevelopment"/>
         <activity id="org.eclipse.amalgam.dsl.domainModelingActivity"/>
         <activity id="org.eclipse.amalgam.dsl.diagramDefinitionActivity"/>
         <activity id="org.eclipse.amalgam.mt.templateDefinitionActivity"/>
         <activity id="org.eclipse.amalgam.m2m.qvto.activity"/>
         <project
               name="org.eclipse.amalgam.examples.dsl.requirements"
               selectReveal="model/requirements.ecore_diagram"
               archive="samples/requirements.zip">
         </project>
         <project
               name="org.eclipse.amalgam.examples.dsl.mindmap"
               archive="samples/mindmap.zip">
         </project>
         <project
               name="org.eclipse.amalgam.examples.dsl.oocore"
               archive="samples/oocore.zip">
         </project>
         <project
               name="org.eclipse.amalgam.examples.dsl.dnc"
               archive="samples/dnc.zip">
         </project>
         <project
               name="org.eclipse.amalgam.examples.dsl.bpmn"
               archive="samples/bpmn.zip">
         </project>
         <project
               name="org.eclipse.amalgam.examples.dsl.scenario"
               archive="samples/scenario.zip">
         </project>
      </sample>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%category.dsltk"
            parentCategory="org.eclipse.ui.Examples"
            id="org.eclipse.amalgam.examples.dsltk">
      </category>
   	  <wizard
            name="%sample.requirements.name"
            category="org.eclipse.ui.Examples/org.eclipse.amalgam.examples.dsltk"
            class="org.eclipse.amalgam.common.ui.wizards.SampleWizard:org.eclipse.amalgam.examples.dsl.requirements"
            project="true"
            id="org.eclipse.amalgam.examples.dsl.requirements">
         <description>%sample.requirements.desc</description>
      </wizard>
    </extension>
</plugin>
