<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="mars" sequenceNumber="1435909851">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.platform.feature.group" version="4.5.0.v20150603-2358"/>
      <unit id="org.junit" version="4.12.0.v201504281640"/>
      <repository location="http://download.eclipse.org/releases/mars"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
      <repository location="http://download.eclipse.org/cbi/updates/license"/>
    </location>
  </locations>
</target>
