<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension-point id="samples" name="%expoint.samples.name" schema="schema/samples.exsd"/>

   <!-- Modeling perspective -->
	<extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%modeling.perspective"
            icon="icons/full/obj16/ModelingPerspective.gif"
            class="org.eclipse.amalgam.common.ui.ModelingPerspective"
            id="org.eclipse.amalgam.common.ui.modelingPerspective">
         <description>
            %modeling.perspective.desc
         </description>
      </perspective>
    </extension>
    
    <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.amalgam.common.ui.modelingPerspective">
         <perspectiveShortcut id="org.eclipse.ui.resourcePerspective"/>
         <newWizardShortcut id="org.eclipse.ui.wizards.new.folder"/>
         <viewShortcut
               id="org.eclipse.ui.console.ConsoleView">
         </viewShortcut>
     </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <standbyContentPart
            pluginId="org.eclipse.amalgam.common.ui"
            class="org.eclipse.amalgam.common.ui.parts.SampleStandbyContent"
            id="org.eclipse.amalgam.common.ui.sampleStandbyPart">
      </standbyContentPart>
   </extension>

   <!-- A base set of wizard categories-->
   <extension point="org.eclipse.ui.newWizards">
	  <category
            id="org.eclipse.amalgam.dsl.wizardCategory"
            name="%dsl.wizard.category"/>
      <category
            id="org.eclipse.amalgam.models.wizardCategory"
            name="%models.wizard.category"/>
      <category
            id="org.eclipse.amalgam.transformation.wizardCategory"
            name="%model.transformation.wizard.category"/>
      <category
            id="org.eclipse.amalgam.uml2.wizardCategory"
            name="%uml.wizard.category"/>
   </extension>

   <!-- DSL activity category definition -->
   <extension
       point="org.eclipse.ui.activities">
    <category
          description="%activity.cat.dsl.development.desc"
          id="org.eclipse.amalgam.dsl.Category"
          name="%activity.cat.dsl.development">
    </category>
  </extension>
  
  <!-- Model Transformation activity category definition -->
   <extension
       point="org.eclipse.ui.activities">
    <category
          description="%activity.cat.model.transformation.desc"
          id="org.eclipse.amalgam.mt.Category"
          name="%activity.cat.model.transformation">
    </category>
 </extension>
 
 <!-- General modeling activity category definition -->
   <extension
       point="org.eclipse.ui.activities">
    <category
          description="%activity.cat.modeling.desc"
          id="org.eclipse.amalgam.modeling.Category"
          name="%activity.cat.modeling">
    </category>
  </extension>
   
   <!-- Hide elements of EMF - no category binding-->
   <extension
       point="org.eclipse.ui.activities">
    <activity
    	  description="%activity.emf.hide.desc"
          id="org.eclipse.amalgam.hide.emf.activity"
          name="%activity.emf.hide">
    </activity>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.emf.activity"
          pattern="org\.eclipse\.emf\.ecore\.editor/org\.eclipse\.emf\.ecore\.presentation\.EcoreModelWizardID">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.emf.activity"
          pattern="org\.eclipse\.emf\.mapping\.ecore2ecore\.editor/org\.eclipse\.emf\.mapping\.ecore2ecore\.presentation\.Ecore2EcoreModelWizardID">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.emf.activity"
          pattern="org\.eclipse\.emf\.mapping\.ecore2xml\.ui/org\.eclipse\.emf\.mapping\.ecore2xml\.presentation\.Ecore2XMLModelWizardID">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.emf.activity"
          pattern="org\.eclipse\.emf\.importer/org\.eclipse\.emf\.importer\.ui\.EMFProjectWizard">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.emf.activity"
          pattern="org\.eclipse\.emf\.importer/org\.eclipse\.emf\.importer\.ui\.EMFModelWizard">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.emf.activity"
          pattern="org\.eclipse\.emf\.codegen\.ecore\.ui/org\.eclipse\.emf\.codegen\.ecore\.ui\.EmptyProjectWizard">
    </activityPatternBinding>
    <activityPatternBinding 
    	  activityId="org.eclipse.amalgam.hide.emf.activity" 
    	  pattern="org\.eclipse\.emf\.codegen\.ui/org\.eclipse\.emf\.codegen\.ui\.ConvertToJETProjectWizard">
   	</activityPatternBinding>
  </extension>
  
  <!-- Hide elements of ECF - no category binding-->
   <extension
       point="org.eclipse.ui.activities">
    <activity
    	  description="%activity.ecf.hide.desc"
          id="org.eclipse.amalgam.hide.ecf.activity"
          name="%activity.ecf.hide">
    </activity>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.ecf.activity"
          pattern="org\.eclipse\.ecf\..*/.*">
    </activityPatternBinding>
  </extension>
  
  <!-- UML modeling activity definition -->
   <extension
       point="org.eclipse.ui.activities">
    <activity
    	  description="%activity.uml.modeling.desc"
          id="org.eclipse.amalgam.uml.activity"
          name="%activity.uml.modeling">
    </activity>
    <categoryActivityBinding
          activityId="org.eclipse.amalgam.uml.activity"
          categoryId="org.eclipse.amalgam.modeling.Category">
    </categoryActivityBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.uml.activity"
          pattern="org\.eclipse\.amalgam\.common\.ui/org\.eclipse\.amalgam\.uml2\.UMLModelCreationWizardID">
    </activityPatternBinding>
    <defaultEnablement
          id="org.eclipse.amalgam.uml.activity">
    </defaultEnablement>
    
    <!-- Hide UML2 elements - no category binding -->
    <activity
    	  description="%activity.uml2.hide.desc"
          id="org.eclipse.amalgam.hide.uml2.activity"
          name="%activity.uml2.hide">
    </activity>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.uml2.activity"
          pattern="org\.eclipse\.uml2\.uml\.editor/org\.eclipse\.uml2\.uml\.editor\.presentation\.UMLModelWizardID">
    </activityPatternBinding>
    
  </extension>
  
</plugin>
