<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension point="org.eclipse.ui.bindings">
		<key 
		   commandId="org.eclipse.amalgam.examples.mindmap.insertSubtopic" 
		   contextId="org.eclipse.amalgam.examples.mindmap.diagram.ui.diagramContext"
		   schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
		   sequence="M1+I"/>
	</extension>
	
	<extension point="org.eclipse.ui.commands">
		<command
		   id="org.eclipse.amalgam.examples.mindmap.insertSubtopic" 
		   name="Insert Subtopic"
		   description="Inserts a new subtopic"
		   categoryId="org.eclipse.ui.category.edit"/>
	</extension>

    <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.amalgam.examples.mindmap.diagram.ui.objectContribution.TopicEditPart"
            objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.ShapeNodeEditPart">
         <menu 
            id="MindmapInsert" 
            label="&amp;Insert" 
            path="additions"> 
            <separator name="group1"/>
         </menu>
         <action
               class="org.eclipse.amalgam.examples.mindmap.diagram.part.MindmapCreateSubtopicAction"
               definitionId="org.eclipse.amalgam.examples.mindmap.insertSubtopic"
               enablesFor="1"
               id="org.eclipse.amalgam.examples.mindmap.popup.MindmapCreateSubtopicActionID"
               label="&amp;Subtopic"
               menubarPath="MindmapInsert/group1">
         </action>
      </objectContribution>                    
    </extension>
 
    <extension
         point="org.eclipse.gmf.runtime.diagram.ui.layoutProviders">
      <layoutProvider class="org.eclipse.amalgam.examples.mindmap.diagram.layout.MindmapDefaultLayoutProvider">
         <Priority name="Low"/>
      </layoutProvider>
   </extension>
   
</plugin>
