<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="pagesProvider" name="%extension-point.page.name" schema="schema/pagesProvider.exsd"/>
   <extension-point id="sectionsProvider" name="%extension-point.section.name" schema="schema/sectionsProvider.exsd"/>
   <extension-point id="activitiesProvider" name="%extension-point.activity.name" schema="schema/activitiesProvider.exsd"/>
  
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.amalgam.explorer.activity.ui.api.editor.ActivityExplorerEditor"
            default="false"
            icon="icons/full/obj16/menu-overview.gif"
            id="org.eclipse.amalgam.explorer.activity.editor.activityExplorerEditor"
            name="%editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.amalgam.explorer.activity.ui.internal.preferences.ActivityExplorerPreferencePage"
            id="org.eclipse.amalgam.explorer.activity.preferences.page"
            name="%preference.page.main.name">
      </page>
      <page
            category="org.eclipse.amalgam.explorer.activity.preferences.page"
            class="org.eclipse.amalgam.explorer.activity.ui.internal.preferences.ActivityExplorerManagementPreferencePage"
            id="org.eclipse.amalgam.explorer.activity.preferences.general.page"
            name="%preference.page.management.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.eclipse.amalgam.explorer.activity.ui.api.actions.ActivityExplorerActionProvider"
            id="org.eclipse.amalgam.explorer.activity.navigator.content"
            priority="highest">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.amalgam.explorer.activity.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerActionBinding
            viewerId="org.eclipse.sirius.ui.tools.views.model.explorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.amalgam.explorer.activity.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.eclipse.amalgam.explorer.activity.ui.internal.ActivityExplorerEditorInputFactory"
            id="org.eclipse.amalgam.explorer.activity.internal.ActivityExplorerEditorInputFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.amalgam.explorer.activity.ui.internal.preferences.DefaultPreferenceInitializer">
      </initializer>
   </extension>
  <extension
         point="org.eclipse.sirius.sessionManagerListener">
      <listener
            class="org.eclipse.amalgam.explorer.activity.ui.internal.session.listeners.ActivityExplorerSessionListener">
      </listener>
   </extension>
  <extension
        point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
        <propertyContributor contributorId = "org.eclipse.amalgam.explorer.activity.editor.activityExplorerEditor"/>
  </extension>
</plugin>
