<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <!-- DSL perspective -->
	<extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%dsl.perspective"
            icon="icons/full/obj16/DSLPerspective.gif"
            class="org.eclipse.amalgam.internal.dsltk.ui.DSLPerspective"
            id="org.eclipse.amalgam.dsl.ui.dslPerspective">
         <description>
            %dsl.perspective.desc
         </description>
      </perspective>
    </extension>
    
    <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.amalgam.dsl.ui.dslPerspective">
         <perspectiveShortcut id="org.eclipse.ui.resourcePerspective"/>
         <newWizardShortcut id="org.eclipse.ui.wizards.new.folder"/>
       	 <newWizardShortcut id="org.eclipse.amalgam.dsl.DSLProjectWizard"/>
         <newWizardShortcut id="org.eclipse.amalgam.dsl.domain.DomainModelWizard"/>
         <newWizardShortcut id="org.eclipse.amalgam.m2m.wizards.NewQVTTransformationWizard"/>
         <newWizardShortcut id="org.eclipse.amalgam.m2t.wizard.NewXpandTemplateFileWizard"/>
         <view
               id="org.eclipse.m2m.internal.qvt.oml.common.views.MetamodelBrowserView"
               relationship="stack"
               relative="org.eclipse.jdt.ui.PackageExplorer">
         </view>
         <actionSet id="org.eclipse.jdt.ui.JavaActionSet"/>
         <actionSet id="org.eclipse.debug.ui.launchActionSet"/>
         <perspectiveShortcut
               id="org.eclipse.pde.ui.PDEPerspective">
         </perspectiveShortcut>
         <viewShortcut
               id="org.eclipse.pde.runtime.LogView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.gmf.bridge.ui.dashboard.DashboardPart">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.console.ConsoleView">
         </viewShortcut>
     </perspectiveExtension>
   </extension>
   
   <!-- DSL Toolkit primary wizards : REMOVED as they are not filtered by capabilities
   <extension
         point="org.eclipse.ui.newWizards">
      <primaryWizard
            id="org.eclipse.amalgam.dsl.DSLProjectWizard">
      </primaryWizard>
      <primaryWizard
            id="org.eclipse.amalgam.dsl.domain.DomainModelWizard">
      </primaryWizard>
   </extension> -->
   
   <extension point="org.eclipse.ui.newWizards">
  	  <!-- DSL Project Wizard -->
  	  <wizard
           category="org.eclipse.amalgam.dsl.wizardCategory"
           class="org.eclipse.amalgam.internal.dsltk.wizards.DSLProjectWizard"
           finalPerspective="org.eclipse.amalgam.dsl.ui.dslPerspective"
           hasPages="true"
           icon="icons/full/obj16/DSLProject.gif"
           id="org.eclipse.amalgam.dsl.DSLProjectWizard"
           name="%dsl.project.wizard"
           project="true">
  	  	 <description>%dsl.project.wizard.desc</description>  
      </wizard>
  	  <!-- Ecore Domain Model Wizard -->
  	  <wizard
  	     name="%dsl.domain.wizard"
  	     icon="icons/full/obj16/NewDomainModel.gif"
  	     category="org.eclipse.amalgam.dsl.wizardCategory"
  	     class="org.eclipse.gmf.ecore.part.EcoreCreationWizard"
  	     id="org.eclipse.amalgam.dsl.domain.DomainModelWizard">
  	  	 <description>%dsl.domain.wizard.desc</description>  
      </wizard>
     <!-- EMF Genmodel Wizard -->
  	  <wizard
  	     name="%dsl.domain.generator.wizard"
  	     icon="icons/full/obj16/NewDomainGeneratorModel.gif"
  	     category="org.eclipse.amalgam.dsl.wizardCategory"
  	     class="org.eclipse.emf.importer.ui.EMFModelWizard"
  	     id="org.eclipse.amalgam.dsl.domain.DomainGeneratorModelWizard">
  	  	 <description>%dsl.domain.generator.wizard.desc</description>  
      </wizard>
      <!-- Diagram Definition Model Wizard -->
  	  <wizard
  	     name="%dsl.diagram.definition.wizard"
  	     icon="icons/full/obj16/NewMappingDefinitionModelWizard.gif"
  	     category="org.eclipse.amalgam.dsl.wizardCategory"
  	     class="org.eclipse.gmf.internal.bridge.wizards.GMFMapGuideModelWizard"
  	     id="org.eclipse.amalgam.dsl.diagram.MappingDefinitionModelWizard">
  	  	 <description>%dsl.diagram.definition.wizard.desc</description>  
      </wizard>
   </extension>
   
   <!-- Xpand Template Wizard -->
   <extension
	      point="org.eclipse.ui.newWizards">
		 <wizard
		   id="org.eclipse.amalgam.m2t.wizard.NewXpandTemplateFileWizard"
		   name="%mt.xpand.wizard"
		   class="org.eclipse.amalgam.internal.dsltk.wizards.NewTemplateFileWizard"
		   category="org.eclipse.amalgam.transformation.wizardCategory"
		   icon="icons/full/obj16/NewXPandTemplate.gif">
	       <description>%mt.xpand.wizard.desc</description>
		   <selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
	</extension>
   
   <!-- Operational QVT Transformation Wizards -->
   <extension
	      point="org.eclipse.ui.newWizards">
		 <wizard
		   id="org.eclipse.amalgam.m2m.wizards.NewQVTTransformationWizard"
		   name="%mt.qvto.wizard"
		   class="org.eclipse.m2m.internal.qvt.oml.ui.wizards.NewQVTTransformationWizard"
		   category="org.eclipse.amalgam.transformation.wizardCategory"
		   icon="icons/full/obj16/NewQVTOFile.gif">
	       <description>%mt.qvto.wizard.desc</description>
		   <selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
	</extension>
	<extension
	      point="org.eclipse.ui.newWizards">
		 <wizard
		   id="org.eclipse.amalgam.m2m.wizards.NewQVTLibraryWizard"
		   name="%mt.qvto.library.wizard"
		   class="org.eclipse.m2m.internal.qvt.oml.ui.wizards.NewQvtLibraryWizard"
		   category="org.eclipse.amalgam.transformation.wizardCategory"
		   icon="icons/full/obj16/NewQVTOFile.gif">
	       <description>%mt.qvto.library.wizard.desc</description>
		   <selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
	</extension>
	
   <!-- General Model Wizards -->
   <extension point="org.eclipse.ui.newWizards">
      <!-- Diagram Graphical Definition Model Wizard -->
  	  <wizard
  	     name="%dsl.diagram.graphical.wizard"
  	     icon="icons/full/obj16/NewGraphicalDefinitionModelWizard.gif"
  	     category="org.eclipse.amalgam.models.wizardCategory"
  	     class="org.eclipse.gmf.internal.bridge.wizards.GMFGraphSimpleModelWizard"
  	     id="org.eclipse.amalgam.dsl.diagram.GraphicalDefinitionModelWizard">
  	  	 <description>%dsl.diagram.graphical.wizard.desc</description>  
      </wizard>
      <!-- Diagram Tooling Model Wizard -->
  	  <wizard
  	     name="%dsl.diagram.tooling.wizard"
  	     icon="icons/full/obj16/NewToolingDefinitionModelWizard.gif"
  	     category="org.eclipse.amalgam.models.wizardCategory"
  	     class="org.eclipse.gmf.internal.bridge.wizards.GMFToolSimpleModelWizard"
  	     id="org.eclipse.amalgam.dsl.diagram.ToolingDefinitionModelWizard">
  	  	 <description>%dsl.diagram.tooling.wizard.desc</description>  
      </wizard>
   </extension>
   
   <!-- DSL development activity definition -->
   <extension
       point="org.eclipse.ui.activities">
       
    <!-- DSL Project activities -->
    <activity
          description="%activity.dsl.perspective.desc"
          id="org.eclipse.amalgam.dsl.perspectiveActivity"
          name="%activity.dsl.perspective">
    </activity>
    <categoryActivityBinding
          activityId="org.eclipse.amalgam.dsl.perspectiveActivity"
          categoryId="org.eclipse.amalgam.dsl.Category">
    </categoryActivityBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.dsl.perspectiveActivity"
          pattern="org\.eclipse\.amalgam\.dsltk\.ui/org\.eclipse\.amalgam\.dsl\.DSLProjectWizard">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.dsl.perspectiveActivity"
          pattern="org\.eclipse\.amalgam\.dsltk\.ui/org\.eclipse\.amalgam\.dsl\.ui\.dslPerspective">
    </activityPatternBinding>
    <!-- Filter any example contributions as well -->
    <activityPatternBinding
          activityId="org.eclipse.amalgam.dsl.perspectiveActivity"
          pattern="org\.eclipse\.amalgam\.examples\.dsltk\/org\.eclipse\.amalgam\.examples\.dsl\..*">
    </activityPatternBinding>
   
    <!-- Domain Modeling activities -->
    <activity
          description="%activity.dsl.domain.modeling.desc"
          id="org.eclipse.amalgam.dsl.domainModelingActivity"
          name="%activity.dsl.domain.modeling">
    </activity>
    <categoryActivityBinding
          activityId="org.eclipse.amalgam.dsl.domainModelingActivity"
          categoryId="org.eclipse.amalgam.dsl.Category">
    </categoryActivityBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.dsl.domainModelingActivity"
          pattern="org\.eclipse\.amalgam\.dsltk\.ui/org\.eclipse\.amalgam\.dsl\.domain\..*">
    </activityPatternBinding>
    
    <!-- Diagram Definition activities -->
    <activity
          description="%activity.dsl.diagram.desc"
          id="org.eclipse.amalgam.dsl.diagramDefinitionActivity"
          name="%activity.dsl.diagram">
    </activity>
    <categoryActivityBinding
          activityId="org.eclipse.amalgam.dsl.diagramDefinitionActivity"
          categoryId="org.eclipse.amalgam.dsl.Category">
    </categoryActivityBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.dsl.diagramDefinitionActivity"
          pattern="org\.eclipse\.amalgam\.dsltk\.ui/org\.eclipse\.amalgam\.dsl\.diagram\..*">
    </activityPatternBinding>
    
    <!-- Hide GMF elements - no category binding -->
    <activity
    	  description="%activity.dsl.gmf.hide.desc"
          id="org.eclipse.amalgam.hide.dsl.gmf.activity"
          name="%activity.dsl.gmf.hide">
    </activity>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.dsl.gmf.activity"
          pattern="org\.eclipse\.gmf\.ecore\.editor/org\.eclipse\.gmf\.ecore\.editor\.InitDiagram">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.dsl.gmf.activity"
          pattern="org\.eclipse\.gmf\.bridge\.ui/org\.eclipse\.gmf\.tooling\.newProjectWizard">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.dsl.gmf.activity"
          pattern="org\.eclipse\.gmf\.bridge\.ui/org\.eclipse\.gmf\.internal\.codegen\.wizards\.GMFMapGuideModelWizardID">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.dsl.gmf.activity"
          pattern="org\.eclipse\.gmf\.map\.edit/org\.eclipse\.gmf\.mappings\.presentation\.GMFMapModelWizardID">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.dsl.gmf.activity"
          pattern="org\.eclipse\.gmf\.bridge\.ui/org\.eclipse\.gmf\.internal\.codegen\.wizards\.GMFGraphSimpleModelWizardID">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.dsl.gmf.activity"
          pattern="org\.eclipse\.gmf\.graphdef\.edit/org\.eclipse\.gmf\.gmfgraph\.presentation\.GMFGraphModelWizardID">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.dsl.gmf.activity"
          pattern="org\.eclipse\.gmf\.graphdef\.editor/org\.eclipse\.gmf\.graphdef\.editor\.part\.GMFGraphCreationWizardID">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.dsl.gmf.activity"
          pattern="org\.eclipse\.gmf\.map\.editor/org\.eclipse\.gmf\.map\.editor\.part\.GMFMapCreationWizardID">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.dsl.gmf.activity"
          pattern="org\.eclipse\.gmf\.bridge\.ui/org\.eclipse\.gmf\.internal\.codegen\.wizards\.GMFGraphReconcileModelWizardID">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.dsl.gmf.activity"
          pattern="org\.eclipse\.gmf\.bridge\.ui/org\.eclipse\.gmf\.internal\.codegen\.wizards\.GMFToolSimpleModelWizardID">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.dsl.gmf.activity"
          pattern="org\.eclipse\.gmf\.tooldef\.edit/org\.eclipse\.gmf\.tooldef\.presentation\.GMFToolModelWizardID">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.dsl.gmf.activity"
          pattern="org\.eclipse\.gmf\.bridge\.ui/org\.eclipse\.gmf\.internal\.codegen\.wizards\.GMFToolReconcileModelWizardID">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.dsl.gmf.activity"
          pattern="org\.eclipse\.gmf\.codegen\.edit/org\.eclipse\.gmf\.codegen\.gmfgen\.presentation\.GMFGenModelWizardID">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.dsl.gmf.activity"
          pattern="org\.eclipse\.gmf\.xpand\.editor/org\.eclipse\.gmf\.xpand\.wizard\.NewTemplateFileWizard">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.dsl.gmf.activity"
          pattern="org\.eclipse\.gmf\.ecore\.editor/org\.eclipse\.gmf\.ecore\.part\.EcoreCreationWizardID">
    </activityPatternBinding>
    
    <defaultEnablement
          id="org.eclipse.amalgam.dsl.domainModelingActivity">
    </defaultEnablement>
    <defaultEnablement
          id="org.eclipse.amalgam.dsl.diagramDefinitionActivity">
    </defaultEnablement>
    <defaultEnablement
          id="org.eclipse.amalgam.dsl.perspectiveActivity">
    </defaultEnablement>
    
  </extension>
  
  <!-- Model Transformation activity definition -->
   <extension
       point="org.eclipse.ui.activities">
    
    <!-- Template Definition activity -->
    <activity
          description="%activity.mt.template.definition.desc"
          id="org.eclipse.amalgam.mt.templateDefinitionActivity"
          name="%activity.mt.template.definition">
    </activity>
    <categoryActivityBinding
          activityId="org.eclipse.amalgam.mt.templateDefinitionActivity"
          categoryId="org.eclipse.amalgam.mt.Category">
    </categoryActivityBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.mt.templateDefinitionActivity"
          pattern="org\.eclipse\.amalgam\.dsltk\.ui/org\.eclipse\.amalgam\.dsl\.mt\.wizard\.NewTemplateFileWizard">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.mt.templateDefinitionActivity"
          pattern="org\.eclipse\.gmf\.xpand\.editor/org\.eclipse\.gmf\.internal\.xpand\.editor\.XpandEditor">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.mt.templateDefinitionActivity"
          pattern="org\.eclipse\.xpand\.ui/org\.eclipse\.xpand\.ui\.XpandEditor">
    </activityPatternBinding>
    
    <!-- Model Transformation activity (QVTO) -->
    <activity
          description="%activity.m2m.qvto.desc"
          id="org.eclipse.amalgam.m2m.qvto.activity"
          name="%activity.m2m.qvto">
    </activity>
    <categoryActivityBinding
          activityId="org.eclipse.amalgam.m2m.qvto.activity"
          categoryId="org.eclipse.amalgam.mt.Category">
    </categoryActivityBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.m2m.qvto.activity"
          pattern="org\.eclipse\.amalgam\.dsltk\.ui/org\.eclipse\.amalgam\.m2m\.oml\.wizards\.NewQVTTransformationWizard">
    </activityPatternBinding>
    
    <!-- Model Workflow activity -->
    <activity
          description="%activity.model.workflow.desc"
          id="org.eclipse.amalgam.workflow.activity"
          name="%activity.model.workflow">
    </activity>
    <categoryActivityBinding
          activityId="org.eclipse.amalgam.workflow.activity"
          categoryId="org.eclipse.amalgam.mt.Category">
    </categoryActivityBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.workflow.activity"
          pattern="org\.eclipse\.amalgam\.dsltk\.ui/org\.eclipse\.amalgam\.workflow\.wizard\.NewWorkflowFileWizard">
    </activityPatternBinding>
    
    <!-- Hide QVTO elements -->
    <activity
    	  description="%activity.mt.qvto.hide.desc"
          id="org.eclipse.amalgam.hide.mt.qvto.activity"
          name="%activity.mt.qvto.hide">
    </activity>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.mt.qvto.activity"
          pattern="org\.eclipse\.m2m\.qvt\.oml\.ui/org\.eclipse\.m2m\.qvt\.oml\.ui\.wizards\.NewQVTTransformationWizard">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.mt.qvto.activity"
          pattern="org\.eclipse\.m2m\.qvt\.oml\.ui/org\.eclipse\.m2m\.qvt\.oml\.ui\.wizards\.NewQvtLibraryWizard">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.mt.qvto.activity"
          pattern="org\.eclipse\.m2m\.qvt\.oml\.ui/org\.eclipse\.m2m\.qvt\.oml\.project\.newTransformationProject">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.mt.qvto.activity"
          pattern="org\.eclipse\.m2m\.qvt\.oml\.samples/simpleuml\.presentation\.SimpleumlModelWizardID">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.mt.qvto.activity"
          pattern="org\.eclipse\.m2m\.qvt\.oml\.samples/rdb\.presentation\.RdbModelWizardID">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.mt.qvto.activity"
          pattern="org\.eclipse\.m2m\.qvt\.oml\.samples/rdb\.constraints\.presentation\.ConstraintsModelWizardID">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.mt.qvto.activity"
          pattern="org\.eclipse\.m2m\.qvt\.oml\.samples/rdb\.datatypes\.presentation\.DatatypesModelWizardID">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="org.eclipse.amalgam.hide.mt.qvto.activity"
          pattern="org\.eclipse\.m2m\.qvt\.oml\.samples/rdb\.view\.presentation\.ViewModelWizardID">
    </activityPatternBinding>

    <defaultEnablement
          id="org.eclipse.amalgam.mt.templateDefinitionActivity">
    </defaultEnablement>
    <defaultEnablement
    	  id="org.eclipse.amalgam.m2m.qvto.activity">
    </defaultEnablement>
    <defaultEnablement
    	  id="org.eclipse.amalgam.workflow.activity">
    </defaultEnablement>
 </extension>
    
   <!-- New name for Ecore diagram initialization -->
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.gmf.ecore.editor.ui.objectContribution.IFile1"
            nameFilter="*.ecore"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%dsl.diagram.init"
               class="org.eclipse.gmf.ecore.part.EcoreInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.gmf.ecore.part.EcoreInitDiagramFileActionID">
         </action>
      </objectContribution>
   </extension>   
   
<!-- Begin Java/PDE content from org.eclipse.sdk (the rest is found in amalgam.common.ui) -->
   <extension
       point="org.eclipse.ui.activities">
      <activityPatternBinding
            activityId="org.eclipse.javaDevelopment"
            pattern="org\.eclipse\.jdt\.debug/debugModel">
      </activityPatternBinding>
      
      <activityPatternBinding
            activityId="org.eclipse.javaDevelopment"
            pattern="org\.eclipse\.jdt\..*/.*">
      </activityPatternBinding>
      
      <activityPatternBinding
            activityId="org.eclipse.javaDevelopment"
            pattern="org\.eclipse\.jdt/.*">
      </activityPatternBinding>
      
      <activityPatternBinding
            activityId="org.eclipse.javaDevelopment"
            pattern="org\.eclipse\.jdt\.core/javanature">
      </activityPatternBinding>
      
      <activityPatternBinding
            activityId="org.eclipse.plugInDevelopment"
            pattern="org\.eclipse\.pde\..*/.*">
      </activityPatternBinding>
      
      <activityPatternBinding
            activityId="org.eclipse.plugInDevelopment"
            pattern="org\.eclipse\.pde/.*">
      </activityPatternBinding>
      
      <activityPatternBinding
            activityId="org.eclipse.plugInDevelopment"
            pattern="org\.eclipse\.pde/PluginNature">
      </activityPatternBinding>
      
      <category
            name="%activity.cat.development"
            description="%activity.cat.development.desc"
            id="org.eclipse.categories.developmentCategory">
      </category>
      
      <categoryActivityBinding
            activityId="org.eclipse.plugInDevelopment"
            categoryId="org.eclipse.categories.developmentCategory">
      </categoryActivityBinding>
      
      <categoryActivityBinding
            activityId="org.eclipse.javaDevelopment"
            categoryId="org.eclipse.categories.developmentCategory">
      </categoryActivityBinding>

      <defaultEnablement
            id="org.eclipse.javaDevelopment">
      </defaultEnablement>
      
      <defaultEnablement
            id="org.eclipse.plugInDevelopment">
      </defaultEnablement>    
   </extension>
   <!-- end org.eclipse.sdk copy section -->
   
   <!-- hide ant wizard and User Assistance items - Moved from javaDevelopment to new category -->
   <extension
         point="org.eclipse.ui.activities">
     <activity
    	  description="%activity.userassistance.desc"
          id="org.eclipse.amalgam.userAssistance"
          name="%activity.userassistance">
     </activity>
      
      <categoryActivityBinding
            activityId="org.eclipse.amalgam.userAssistance"
            categoryId="org.eclipse.categories.developmentCategory">
      </categoryActivityBinding>
      
      <activityPatternBinding
            activityId="org.eclipse.amalgam.userAssistance"
            pattern="org\.eclipse\.ant\.ui/org\.eclipse\.ant\.ui\.wizards\.JavaProjectWizard">
	  </activityPatternBinding>
	  <activityPatternBinding
	  	    activityId="org.eclipse.amalgam.userAssistance"
	  	    pattern="org\.eclipse\.pde\.ui/org\.eclipse\.pde\.ui\.NewCheatSheetWizard">
	  </activityPatternBinding>
	  <activityPatternBinding
	  	    activityId="org.eclipse.amalgam.userAssistance"
	  	    pattern="org\.eclipse\.pde\.ui/org\.eclipse\.pde\.ui\.NewContextHelpWizard">
	  </activityPatternBinding>
	  <activityPatternBinding
	  	    activityId="org.eclipse.amalgam.userAssistance"
	  	    pattern="org\.eclipse\.pde\.ui/org\.eclipse\.pde\.ui\.NewTOCWizard">
	  </activityPatternBinding>
	</extension>

</plugin>
