<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="Eclipse Modeling technologies used to develop domain-specific languages and associated MDSD artifacts."
            name="DSL Toolkit">
         <property
               name="windowImages"
               value="icons/eclipse.gif,icons/eclipse32.gif,icons/eclipse48.gif">
         </property>
         <property
               name="aboutText"
               value="%aboutDialogText">
         </property>
         <property
               name="aboutImage"
               value="about.png">
         </property>
         <property
               name="appName"
               value="Modeler">
         </property>
         <property name="preferenceCustomization" value="plugin_customization.ini"/>
         <property
               name="startupForegroundColor"
               value="E6E6E6">
         </property>
         <property
               name="startupMessageRect"
               value="5,270,450,15">
         </property>
         <property
               name="startupProgressRect"
               value="0,290,450,15">
         </property>
         <property
          		name="introTitle"
          		value="%productIntroTitle"/>
          <property
          		name="introBrandingImage"
          		value="product:modeling_logo.png"/>
          <property
          		name="introBrandingImageText"
          		value="%productIntroBrandingText"/>
		  <property
				name="introDescription-overview"
				value="%introDescription-overview"/>
		  <property
				name="introDescription-tutorials"
				value="%introDescription-tutorials"/>
		  <property
				name="introDescription-samples"
				value="%introDescription-samples"/>
      </product>
   </extension>
   
   <extension
		point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.eclipse.amalgam.modeler.product">
      </introProductBinding>
   </extension>
   
   <extension point="org.eclipse.ui.intro.configExtension">
      <standbyContentPart
            id="org.eclipse.platform.cheatsheet"
            class="org.eclipse.platform.internal.CheatSheetStandbyContent"
            pluginId="org.eclipse.platform"/>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/overviewExtensionContent.xml"/>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/tutorialsExtensionContent.xml"/>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/samplesExtensionContent.xml"/>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/whatsnewExtensionContent.xml"/>
   </extension>
   
</plugin>
