<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.m2m.qvt.oml.QvtTransformation">
<stringAttribute key="bad_container_name" value="/org.eclipse.amalgam.examples.dsl.dnc/transformations/dnc2ecore.launch"/>
<booleanAttribute key="org.eclipse.m2m.qvt.oml.interpreter.clearContents1" value="true"/>
<booleanAttribute key="org.eclipse.m2m.qvt.oml.interpreter.clearContents2" value="true"/>
<mapAttribute key="org.eclipse.m2m.qvt.oml.interpreter.configurationProperties">
<mapEntry key="uriPrefix" value="http://www.eclipse.org/2008/"/>
</mapAttribute>
<intAttribute key="org.eclipse.m2m.qvt.oml.interpreter.elemCount" value="2"/>
<stringAttribute key="org.eclipse.m2m.qvt.oml.interpreter.featureName1" value=""/>
<stringAttribute key="org.eclipse.m2m.qvt.oml.interpreter.featureName2" value=""/>
<stringAttribute key="org.eclipse.m2m.qvt.oml.interpreter.module" value="platform:/resource/org.eclipse.amalgam.examples.dsl.dnc/transformations/dnc2ecore.qvto"/>
<stringAttribute key="org.eclipse.m2m.qvt.oml.interpreter.targetModel1" value="platform:/resource/org.eclipse.amalgam.examples.dsl.dnc/model/model.xmi"/>
<stringAttribute key="org.eclipse.m2m.qvt.oml.interpreter.targetModel2" value="platform:/resource/org.eclipse.amalgam.examples.dsl.dnc/out/dnc.ecore"/>
<stringAttribute key="org.eclipse.m2m.qvt.oml.interpreter.targetType1" value="NEW_MODEL"/>
<stringAttribute key="org.eclipse.m2m.qvt.oml.interpreter.targetType2" value="NEW_MODEL"/>
<stringAttribute key="org.eclipse.m2m.qvt.oml.interpreter.traceFile" value="platform:/resource/org.eclipse.amalgam.examples.dsl.dnc/out/dnc.ecore.qvtotrace"/>
<booleanAttribute key="org.eclipse.m2m.qvt.oml.interpreter.useTraceFile" value="false"/>
</launchConfiguration>
