<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
	  	<ParserProvider class="org.eclipse.amalgam.examples.dnc.diagram.providers.AttributeParserProvider">
	     	<Priority name="Low"/>
	  	</ParserProvider>
	</extension>
   
</plugin>
