<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension
       point="org.eclipse.ui.activities">
		<activity
	    	  description="%activity.bpmn.diagramming.desc"
	          id="org.eclipse.amalgam.bpmn.diagramming.activity"
	          name="%activity.bpmn.diagramming">
	    </activity>
	    <categoryActivityBinding
	          activityId="org.eclipse.amalgam.bpmn.diagramming.activity"
	          categoryId="org.eclipse.amalgam.modeling.Category">
	    </categoryActivityBinding>
	    <activityPatternBinding
	          activityId="org.eclipse.amalgam.bpmn.diagramming.activity"
	          pattern="org\.eclipse\.amalgam\.modeler\.ui/org\.eclipse\.amalgam\.modeler\.ui\.bpmn\.CreationWizardID">
	    </activityPatternBinding>
	    <defaultEnablement
	          id="org.eclipse.amalgam.bpmn.diagramming.activity">
	    </defaultEnablement>
	    
	    <!-- Hide default BPMN wizard - no category binding-->
	    <activity name="%activity.amalgam.hide.bpmn"
	          id="org.eclipse.amalgam.hide.bpmn.diagramming.activity"/>
	    <activityPatternBinding
	          activityId="org.eclipse.amalgam.hide.bpmn.diagramming.activity"
	          pattern="org\.eclipse\.stp\.bpmn\.diagram/org\.eclipse\.stp\.bpmn\.diagram\.part\.BpmnCreationWizardID">
	    </activityPatternBinding>
	    
	    <!-- Hide UML2 elements - no category binding -->
	    <activity
	    	  description="%activity.uml2.hide.desc"
	          id="org.eclipse.amalgam.hide.uml2.activity"
	          name="%activity.uml2.hide">
	    </activity>
	    <activityPatternBinding
	          activityId="org.eclipse.amalgam.hide.uml2.activity"
	          pattern="org\.eclipse\.uml2\.uml\.editor/org\.eclipse\.uml2\.uml\.editor\.presentation\.UMLModelWizardID">
	    </activityPatternBinding>
	    <activityPatternBinding
	          activityId="org.eclipse.amalgam.hide.uml2.activity"
	          pattern="org\.eclipse\.uml2\.diagram\.clazz/org\.eclipse\.uml2\.diagram\.clazz\.part\.UMLCreationWizardID">
	    </activityPatternBinding>
	    <activityPatternBinding
	          activityId="org.eclipse.amalgam.hide.uml2.activity"
	          pattern="org\.eclipse\.uml2\.diagram\.activity/org\.eclipse\.uml2\.diagram\.activity\.part\.UMLCreationWizardID">
	    </activityPatternBinding>
	    <activityPatternBinding
	          activityId="org.eclipse.amalgam.hide.uml2.activity"
	          pattern="org\.eclipse\.uml2\.diagram\.component/org\.eclipse\.uml2\.diagram\.component\.part\.UMLCreationWizardID">
	    </activityPatternBinding>
	    <activityPatternBinding
	          activityId="org.eclipse.amalgam.hide.uml2.activity"
	          pattern="org\.eclipse\.uml2\.diagram\.csd/org\.eclipse\.uml2\.diagram\.csd\.part\.UMLCreationWizardID">
	    </activityPatternBinding>
	    <activityPatternBinding
	          activityId="org.eclipse.amalgam.hide.uml2.activity"
	          pattern="org\.eclipse\.uml2\.diagram\.deploy/org\.eclipse\.uml2\.diagram\.deploy\.part\.UMLCreationWizardID">
	    </activityPatternBinding>
	    <activityPatternBinding
	          activityId="org.eclipse.amalgam.hide.uml2.activity"
	          pattern="org\.eclipse\.uml2\.diagram\.profile/org\.eclipse\.uml2\.diagram\.profile\.part\.UMLCreationWizardID">
	    </activityPatternBinding>
	    <activityPatternBinding
	          activityId="org.eclipse.amalgam.hide.uml2.activity"
	          pattern="org\.eclipse\.uml2\.diagram\.statemachine/org\.eclipse\.uml2\.diagram\.statemachine\.part\.UMLCreationWizardID">
	    </activityPatternBinding>
	    <activityPatternBinding
	          activityId="org.eclipse.amalgam.hide.uml2.activity"
	          pattern="org\.eclipse\.uml2\.diagram\.usecase/org\.eclipse\.uml2\.diagram\.usecase\.part\.UMLCreationWizardID">
	    </activityPatternBinding>
	</extension>
	
	<!-- UML2 diagram and model wizard redefinition -->
    <extension point="org.eclipse.ui.newWizards">
        <wizard
  	     	name="%uml.model.wizard"
  	     	icon="icons/full/obj16/NewUML.gif"
  	     	category="org.eclipse.amalgam.uml2.wizardCategory"
  	     	class="org.eclipse.uml2.uml.editor.presentation.UMLModelWizard"
  	     	id="org.eclipse.amalgam.uml2.UMLModelCreationWizardID">
  	  	 	<description>%uml.model.wizard.desc</description>  
      	</wizard>
  	  	<wizard
  	     	name="%uml.class.diagram.wizard"
  	     	icon="icons/full/obj16/NewUMLClassDiagram.gif"
  	     	category="org.eclipse.amalgam.uml2.wizardCategory"
  	     	class="org.eclipse.uml2.diagram.clazz.part.UMLCreationWizard"
  	     	id="org.eclipse.amalgam.uml2.diagram.clazz.UMLCreationWizardID">
  	  	 	<description>%uml.class.diagram.wizard.desc</description>  
      	</wizard>
  	  	<wizard
  	     	name="%uml.component.diagram.wizard"
  	     	icon="icons/full/obj16/NewUMLComponentDiagram.gif"
  	     	category="org.eclipse.amalgam.uml2.wizardCategory"
  	     	class="org.eclipse.uml2.diagram.component.part.UMLCreationWizard"
  	     	id="org.eclipse.amalgam.uml2.diagram.component.UMLCreationWizardID">
  	  	 	<description>%uml.component.diagram.wizard.desc</description>  
      	</wizard>
  	  	<wizard
  	     	name="%uml.activity.diagram.wizard"
  	     	icon="icons/full/obj16/NewUMLActivityDiagram.gif"
  	     	category="org.eclipse.amalgam.uml2.wizardCategory"
  	     	class="org.eclipse.uml2.diagram.activity.part.UMLCreationWizard"
  	     	id="org.eclipse.amalgam.uml2.diagram.activity.UMLCreationWizardID">
  	  	 	<description>%uml.activity.diagram.wizard.desc</description>  
      	</wizard>
  	  	<wizard
  	     	name="%uml.state.diagram.wizard"
  	     	icon="icons/full/obj16/NewUMLStateMachineDiagram.gif"
  	     	category="org.eclipse.amalgam.uml2.wizardCategory"
  	     	class="org.eclipse.uml2.diagram.statemachine.part.UMLCreationWizard"
  	     	id="org.eclipse.amalgam.uml2.diagram.statemachine.UMLCreationWizardID">
  	  	 	<description>%uml.state.diagram.wizard.desc</description>  
      	</wizard>
      	<wizard
  	     	name="%uml.usecase.diagram.wizard"
  	     	icon="icons/full/obj16/NewUMLUseCaseDiagram.gif"
  	     	category="org.eclipse.amalgam.uml2.wizardCategory"
  	     	class="org.eclipse.uml2.diagram.usecase.part.UMLCreationWizard"
  	     	id="org.eclipse.amalgam.uml2.diagram.usecase.UMLCreationWizardID">
  	  	 	<description>%uml.usecase.diagram.wizard.desc</description>  
      	</wizard>
  	  	<wizard
  	     	name="%uml.profile.diagram.wizard"
  	     	icon="icons/full/obj16/NewUMLProfileDiagram.gif"
  	     	category="org.eclipse.amalgam.uml2.wizardCategory"
  	     	class="org.eclipse.uml2.diagram.profile.part.UMLCreationWizard"
  	     	id="org.eclipse.amalgam.uml2.diagram.profile.UMLCreationWizardID">
  	  	 	<description>%uml.profile.diagram.wizard.desc</description>  
      	</wizard>
      	<wizard
  	     	name="%uml.deployment.diagram.wizard"
  	     	icon="icons/full/obj16/NewUMLDeploymentDiagram.gif"
  	     	category="org.eclipse.amalgam.uml2.wizardCategory"
  	     	class="org.eclipse.uml2.diagram.deploy.part.UMLCreationWizard"
  	     	id="org.eclipse.amalgam.uml2.diagram.profile.UMLCreationWizardID">
  	  	 	<description>%uml.deployment.diagram.wizard.desc</description>  
      	</wizard>
      	<wizard
  	     	name="%uml.composite.diagram.wizard"
  	     	icon="icons/full/obj16/NewUMLCompositeStructureDiagram.gif"
  	     	category="org.eclipse.amalgam.uml2.wizardCategory"
  	     	class="org.eclipse.uml2.diagram.csd.part.UMLCreationWizard"
  	     	id="org.eclipse.amalgam.uml2.diagram.profile.UMLCreationWizardID">
  	  	 	<description>%uml.composite.diagram.wizard.desc</description>  
      	</wizard>
   </extension>
	
	<extension point="org.eclipse.ui.newWizards">
	  <category
            id="org.eclipse.amalgam.modeler.bp.wizardCategory"
            name="%bp.wizard.category"/>
   </extension>
	
	<extension point="org.eclipse.ui.newWizards">
  	  <wizard
  	     name="%bpmn.diagram.wizard"
  	     icon="icons/obj16/BpmnDiagramFile.gif"
  	     category="org.eclipse.amalgam.modeler.bp.wizardCategory"
  	     class="org.eclipse.stp.bpmn.diagram.part.BpmnCreationWizard"
  	     id="org.eclipse.amalgam.modeler.ui.bpmn.CreationWizardID">
  	  	 <description>
  	  		%bpmn.diagram.wizard.desc
  	  	 </description>  
      </wizard>
   </extension>

	<!-- Initialize diagram actions recast as new diagram wizard actions -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.amalgam.modeler.ui.clazz.newDiagram"
            nameFilter="*.uml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="%newDiagram.label"
               path="additions"
               id="newDiagramMenu">
            <separator
                  name="newDiagramGroup">
            </separator>
         </menu>
         <action
               label="%action.uml.class.diagram"
               class="org.eclipse.uml2.diagram.clazz.part.UMLInitDiagramFileAction"
               menubarPath="newDiagramMenu/newDiagramGroup"
               enablesFor="1"
               id="org.eclipse.uml2.diagram.clazz.InitDiagramAction">
         </action>
         <action
               label="%action.uml.activity.diagram"
               class="org.eclipse.uml2.diagram.activity.part.UMLInitDiagramFileAction"
               menubarPath="newDiagramMenu/newDiagramGroup"
               enablesFor="1"
               id="org.eclipse.uml2.diagram.activity.InitDiagramAction">
         </action>
         <action
               label="%action.uml.component.diagram"
               class="org.eclipse.uml2.diagram.component.part.UMLInitDiagramFileAction"
               menubarPath="newDiagramMenu/newDiagramGroup"
               enablesFor="1"
               id="org.eclipse.uml2.diagram.component.InitDiagramAction">
         </action>
         <action
               label="%action.uml.usecase.diagram"
               class="org.eclipse.uml2.diagram.usecase.part.UMLInitDiagramFileAction"
               menubarPath="newDiagramMenu/newDiagramGroup"
               enablesFor="1"
               id="org.eclipse.uml2.diagram.usecase.InitDiagramAction">
         </action>
         <action
               label="%action.uml.statemachine.diagram"
               class="org.eclipse.uml2.diagram.statemachine.part.UMLInitDiagramFileAction"
               menubarPath="newDiagramMenu/newDiagramGroup"
               enablesFor="1"
               id="org.eclipse.uml2.diagram.statemachine.InitDiagramAction">
         </action>
         <action
               label="%action.uml.csd.diagram"
               class="org.eclipse.uml2.diagram.csd.part.UMLInitDiagramFileAction"
               menubarPath="newDiagramMenu/newDiagramGroup"
               enablesFor="1"
               id="org.eclipse.uml2.diagram.csd.InitDiagramAction">
         </action>
         <action
               label="%action.uml.deploy.diagram"
               class="org.eclipse.uml2.diagram.deploy.part.UMLInitDiagramFileAction"
               menubarPath="newDiagramMenu/newDiagramGroup"
               enablesFor="1"
               id="org.eclipse.uml2.diagram.deploy.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
