<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<!-- Initialize diagram actions recast as new diagram wizard actions -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.amalgam.modeler.ui.clazz.newDiagram"
            nameFilter="*.uml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="%newDiagram.label"
               path="additions"
               id="newDiagramMenu">
            <separator
                  name="newDiagramGroup">
            </separator>
         </menu>
         <action
               label="%action.uml.class.diagram"
               class="org.eclipse.uml2.diagram.clazz.part.UMLInitDiagramFileAction"
               menubarPath="newDiagramMenu/newDiagramGroup"
               enablesFor="1"
               id="org.eclipse.uml2.diagram.clazz.InitDiagramAction">
         </action>
         <action
               label="%action.uml.activity.diagram"
               class="org.eclipse.uml2.diagram.activity.part.UMLInitDiagramFileAction"
               menubarPath="newDiagramMenu/newDiagramGroup"
               enablesFor="1"
               id="org.eclipse.uml2.diagram.activity.InitDiagramAction">
         </action>
         <action
               label="%action.uml.component.diagram"
               class="org.eclipse.uml2.diagram.component.part.UMLInitDiagramFileAction"
               menubarPath="newDiagramMenu/newDiagramGroup"
               enablesFor="1"
               id="org.eclipse.uml2.diagram.component.InitDiagramAction">
         </action>
         <action
               label="%action.uml.usecase.diagram"
               class="org.eclipse.uml2.diagram.usecase.part.UMLInitDiagramFileAction"
               menubarPath="newDiagramMenu/newDiagramGroup"
               enablesFor="1"
               id="org.eclipse.uml2.diagram.usecase.InitDiagramAction">
         </action>
         <action
               label="%action.uml.statemachine.diagram"
               class="org.eclipse.uml2.diagram.statemachine.part.UMLInitDiagramFileAction"
               menubarPath="newDiagramMenu/newDiagramGroup"
               enablesFor="1"
               id="org.eclipse.uml2.diagram.statemachine.InitDiagramAction">
         </action>
         <action
               label="%action.uml.csd.diagram"
               class="org.eclipse.uml2.diagram.csd.part.UMLInitDiagramFileAction"
               menubarPath="newDiagramMenu/newDiagramGroup"
               enablesFor="1"
               id="org.eclipse.uml2.diagram.csd.InitDiagramAction">
         </action>
         <action
               label="%action.uml.deploy.diagram"
               class="org.eclipse.uml2.diagram.deploy.part.UMLInitDiagramFileAction"
               menubarPath="newDiagramMenu/newDiagramGroup"
               enablesFor="1"
               id="org.eclipse.uml2.diagram.deploy.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
